*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {
    display: flex;
    list-style-type: none;
}
ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}
li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0px;
    background-color: #c4c4f7;
    transition:all .5s;
}
li a:hover::after {
    width: 100%;

}
main {
    display: flex;
    height: calc(100wh - 100px);
    align-items: center;
    justify-content: center;
}
.her-img {
    max-width: 670;
    height: auto;
}
main h1 {
    font-size: 50px;
    color: #133B4F;
    text-transform: uppercase;
}
main h2 {
    font-size: 25px;
    color: #FCA70C;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main .right-content{
    display: flex;
    margin-left: 200px;
}
main p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;

}
.Signup {
    padding: 15px 30px;
    background-color: #ffbc3e;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}
.hero ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
}
.hero ul li span {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
}
.hero ul li img {
    width: 400px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.hero ul li span::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: #c4c4f7;
    transition: all .5s;
}
.hero ul li span:hover::after {
    width: 100%;
}
.quote {
    background-color: #ffff8646;
    display: block;
    text-align: center;
    font-size: 36px;
    font: light italic;
    color: #fca80cbd;
    font-weight: 700;
    text-decoration: dotted;
    border-radius: 15px;
    border: 2px;
    padding-bottom: 70px;
    padding-top: 70px;
    margin: 0 auto;
}
.quote::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: #FFE5B4;
    transition: width .7s ease;
    position: absolute;
}
.quote:hover::after {
    width: 100%;
}
.coupon {
    background-color: #ffff8646;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
}
.coupon p {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-right: 150px;
}
.left h2 {
    font-size: 25px;
    color: #FCA70C;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.left ul li {
    background-color: #ffff8646;
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    padding-bottom: 80px;
    padding-top: 40px;
}
